html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
button {
  width: 33%;
  height: 80px;
}
#camera, #camera-view, #camera-sensor, #camera-output{
    position: fixed;
    height: 100%;
    object-fit: cover;
}
.swap-red-green {
  filter: url(filters.svg#swaprg);
}
.swap-red-blue {
  filter: url(filters.svg#swaprb);
}
